@import "tailwindcss";

:root{
    --color-primary:  rgba(251,246,241,1);
    --color-secondary: rgba(229,224,218,1);
    --color-tertiary:  rgba(126,123,70,1);
    --color-text: rgba(34,54,20,1)
}

body{
    background-color: var(--color-primary);
    color: var(--color-text);
}

@theme{
    --color-primary:  rgba(251,246,241,1);
    --color-secondary: rgba(229,224,218,1);
    --color-tertiary:  rgba(126,123,70,1);
    --color-text: rgba(34,54,20,1);
    --font-gopher:["var(--font-gopher)","sans-serif"]
}